
        img {

            width: 200px;
            margin-right: 10px;
            
        }

        p.centrado-negrita {
        text-align: center;
        font-weight: bold;
        font-size: 80%; 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
        }   


        h1 {
            color: blue;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            color: red;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

        }

        nav li {
            display: inline-block;
            margin-right: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

        }

        nav a {
            text-decoration: none;
            color: red;
            padding: 5px 10px;
            text-decoration: underline;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 


        }

        nav li:not(:last-child):after {
            content: " | ";
            color: rgb(2, 2, 2);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

        }